#Firmware .gitignore
Firmware/build/
Firmware/sdkconfig
Firmware/sdkconfig.old*

#Hardware .gitignore
Hardware/Project/Project.PrjPcbStructure
Hardware/Project/boas.xml
Hardware/Project/BOAS_PCB.outjob
Hardware/Project/History/
Hardware/Project/3D model/
Hardware/Project/__Previews/
Hardware/Project/Project Logs for Project/
Hardware/Project/Project Outputs for Project/
Hardware/Project/Документация/

Hardware/Library/History/
Hardware/Library/__Previews/
Hardware/Library/Project Outputs for Integrated_Library/