#firmware .gitignore
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old*

#hardware .gitignore
hardware/project/Project.PrjPcbStructure
hardware/project/boas.xml
hardware/project/BOAS_PCB.outjob
hardware/project/History/
hardware/project/3D model/
hardware/project/__Previews/
hardware/project/Project Logs for Project/
hardware/project/Project Outputs for Project/
hardware/project/Документация/

hardware/library/History/
hardware/library/__Previews/
hardware/library/Project Outputs for Integrated_Library/
hardware/Model/*.dpl

#filetypes
*.log
*.txt
*.tmp
